<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ddns.worldofjarcraft.kappa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/schnee"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.V7.Theme.AppCompat">
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EinkaufActivity"
            android:label="@string/title_activity_einkauf"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SchrankActivity"
            android:label="@string/title_activity_schrank"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".InhaltActivity"
            android:label="@string/title_activity_inhalt"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SucheActivity"
            android:label="@string/title_activity_suche"
            android:theme="@style/AppTheme" />

        <service android:name=".MHDCheckerService" />

        <activity
            android:name=".AblaufendActivity"
            android:label="@string/title_activity_ablaufend"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".BootCompleted"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".MyWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name=".MyContentProvider"
            android:authorities="net.ddns.worldofjarcraft.kappa"
            android:exported="false" />
        <receiver
            android:name=".CollectionAppWidgetProvider"
            android:label="@string/name_ablaufend_activity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="me.indiandollar.apps.todoappcollectionwidget.app.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/collection_widget" />
    </receiver>

        <service
            android:name=".InhaltWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service android:name=".SchrankUpdaterService" />

        <receiver android:name=".InhaltWidget"
            android:label="@string/widget_inhalt">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/inhalt_widget_info" />
        </receiver>

        <activity android:name=".InhaltWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>